@media screen {
  .report-container {
    width: 21cm;
  }
}
.report-container {
  font-size: 12pt;
  word-break: break-all;
}

.card {
  border: 1px solid black;
  border-radius: var(--border-radius);
  padding: var(--gap);
}

.padding {
  padding: 0.5rem;
}

.center {
  align-items: center;
  justify-content: center;
}

.flex {
  box-sizing: border-box;
}

.flex-1 {
  flex: 1 1 auto;
}

.flex.h > * {
  flex: 1 1 auto;
}

.flex.h.full {
  width: 100%;
}

.panel {
  border-radius: 0.2rem;
  padding: 0.5rem;
  background-color: lightgray;
  border: 1px solid gray;
}

.xxl {
  font-size: 1.6rem;
  font-weight: bold;
}

.xx {
  background-color: red;
}

th {
  text-align: left;
}

.number {
  text-align: right;
}
