@media screen {
  .report-container {
    width: 21cm;
  }
}
.report-container {
  font-size: 12pt;
  word-break: break-all;
}

.report-wrapper .report-container > header {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  border-bottom: 3px solid #000;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.card {
  border: 1px solid black;
  border-radius: var(--border-radius);
  padding: var(--gap);
}

.padding {
  padding: 0.5rem;
}

.center {
  align-items: center;
  justify-content: center;
}

.flex {
  box-sizing: border-box;
}

.flex-1 {
  flex: 1 1 auto;
}

.flex.h > * {
  flex: 1 1 auto;
}

.flex.h.full {
  width: 100%;
}

.panel {
  border-radius: 0.2rem;
  padding: 0.5rem;
  background-color: lightgray;
  border: 1px solid gray;
}

.report-productionOrder .parameters {
  border-radius: 0.3rem;
  background-color: lightgray;
}
.report-productionOrder .parameters .parameters dl {
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
}
.report-productionOrder .parameters .parameters dl dt {
  font-weight: bold 700 !important;
}

.custom-fields > .parameters dl {
  background-color: red;
}

.xxl {
  font-size: 1.6rem;
  font-weight: bold;
}

.xx {
  background-color: red;
}

th {
  text-align: left;
}

.number {
  text-align: right;
}
