.report-container {
  box-sizing: border-box;
  font-size: 11pt;

  // Células terão borda top/left e o container terá borda bottom/right, evitando bordas duplas
  border-bottom: 1px solid black;
  border-right: 1px solid black;

  @media screen {
    // Tamanho padrão para exibição em tela, mas pode ser ajustado para impressão
    width: 10cm;
    height: 8cm;

    margin-bottom: 1rem;
  }

  @media print {
    height: 100vh;
  }
}

.content {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(8, minmax(0, 1fr));
  grid-template-areas:
    "A B B"
    "A B B"
    "A B B"
    "A C C"
    "A C C"
    "A D D"
    "A D D"
    "A D D";

  .cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    flex: 1 1 auto;

    padding: 0.1rem;
    overflow: hidden;

    box-sizing: border-box;
    border-top: 1px solid black;
    border-left: 1px solid black;

    min-height: 0;

    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;

    text-align: center;
    text-transform: uppercase;

    dt {
      font-size: 0.6em;
      font-weight: 600;
      text-transform: uppercase;
    }

    dd {
      margin: 0;
    }
  }

  img {
    box-sizing: border-box;
    padding: 0.5rem;

    width: 100%;
    // height: 100%;

    object-fit: contain;
  }
}