.report-container {
  box-sizing: border-box;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}
@media screen {
  .report-container {
    width: 10cm;
    height: 7cm;
    margin-bottom: 1rem;
  }
}
@media print {
  .report-container {
    height: 100vh;
  }
}

.content {
  font-size: 10pt;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: repeat(8, minmax(0, 1fr));
  grid-template-areas: "A B B C" "A D D C" "E E E E" "E E E E" "G G G G" "H I J K" "H L M K" "N N N N";
}
.content .cell {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 auto;
  padding: 0.1rem;
  overflow: hidden;
  box-sizing: border-box;
  border-top: 1px solid black;
  border-left: 1px solid black;
  min-height: 0;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content .cell dt {
  font-size: 0.6em;
  font-weight: 600;
  text-transform: uppercase;
}
.content .cell dd {
  margin: 0;
}
.content img {
  box-sizing: border-box;
  padding: 0.15rem;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
