.report-container {
  font-size: 9pt;

  @media screen {
    max-width: 21cm;
  }
}

.frame {
  display: block;
  flex-direction: column;

  border: 1px solid black;
  border-radius: var(--border-radius);

  overflow: hidden;

  &>*:not(:first-child) {
    border-top: 1px solid black;
  }

  .band.h>*:not(:first-child) {
    border-left: 1px solid black;
  }

  .band.v>*:not(:first-child) {
    border-top: 1px solid black;
  }
}

.grid {
  display: grid;
}

.band.h {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

.band.v {
  display: flex;
  flex-direction: column;
}

.slot {
  flex: 1;

  box-sizing: border-box;
  padding: 0.1rem 0.2rem;
}

hr {
  border: 0;
}

hr.dashed {
  border: 0;
  border-top: 1px dashed black;
}

label,
dt {
  display: block;
}

label.header {
  margin-top: 0.4rem;
  margin-bottom: 0.1rem;
}

th {
  text-align: unset;
}

label,
th {
  font-size: 60%;
  font-weight: bold;
  text-transform: uppercase;
}

.number {
  text-align: right;
}

img {
  padding: 0 5%;
  width: 90%;
  height: 100%;
  object-fit: contain;
}

h1 {
  font-size: 100%;
}

// Remove outer borders from the table, but keep inner borders intact
table {
  border: none;
  border-collapse: collapse;

  width: 100%;

  th,
  td {
    border: 1px solid black;
    padding: 0.1rem 0.2rem;
  }

  /* Remove Top borders from the first row */
  tr:first-child th,
  tr:first-child td {
    border-top: none;
  }

  /* Remove Bottom borders from the last row */
  tr:last-child td {
    border-bottom: none;
  }

  /* Remove Left borders from the first column */
  td:first-child,
  th:first-child {
    border-left: none;
  }

  /* Remove Right borders from the last column */
  td:last-child,
  th:last-child {
    border-right: none;
  }
}