@page {
  size: 10cm 7cm;
}
.report-container {
  overflow: hidden;
  box-sizing: border-box;
}
@media screen {
  .report-container {
    width: 10cm;
    height: 7cm;
    margin-bottom: 1rem;
    padding: 0 !important;
  }
}
@media print {
  .report-container {
    height: 100vh;
  }
}

main {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.flex, .grid {
  min-height: 0;
}

.content {
  font-size: 11pt;
}
.content dl {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 1 1 auto;
  padding: 0.15rem;
  overflow: hidden;
  box-sizing: border-box;
  border-top: 1px solid black;
  border-left: 1px solid black;
  min-height: 0;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content dl dt {
  font-size: 0.6em;
  font-weight: 600;
  text-transform: uppercase;
}
.content dl dd {
  margin: 0;
  min-height: 0;
}
.content img {
  box-sizing: border-box;
  padding: 0.2rem;
  width: 100%;
  height: 100%;
  min-height: 0;
  object-fit: contain;
}
.content dl.letra {
  padding: 0.5rem;
  background-color: black;
  color: white;
  font-size: 3rem;
  font-weight: bold;
}
