.report-container dl {
  padding: 0.2rem;
}
@media screen {
  .report-container {
    width: 210mm;
  }
}

img {
  min-height: 0;
  max-height: 1.5cm;
  object-fit: contain;
}

.framed {
  border: 1px solid black;
  border-radius: var(--border-radius);
}
.framed.band.v > *:not(:last-child),
.framed .band.v > *:not(:last-child), .framed.flex.v > *:not(:last-child),
.framed .flex.v > *:not(:last-child) {
  border-bottom: 1px solid black;
}
.framed.band.h > *:not(:last-child),
.framed .band.h > *:not(:last-child), .framed.flex.h > *:not(:last-child),
.framed .flex.h > *:not(:last-child) {
  border-right: 1px solid black;
}

.flex.h dl {
  flex: 1;
}
.flex.h dl dt {
  font-size: 0.7rem;
  font-weight: bold;
}
.flex.h dl dd {
  margin: 0;
}
