@font-face {
  font-family: 'AnekLatin';
  src: url('https://s3.sa-east-1.amazonaws.com/zenerp.app.br/assets/fonts/AnekLatin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// Variables
$border: 1px solid var(--color-border);

@mixin dl-infobox {
  display: flex;
  gap: var(--gap);
  margin: 0;

  div {
    flex: 1;
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    padding: var(--padding);

    dt {
      font-size: 8pt;
      color: gray;
      text-transform: uppercase;
      font-weight: bold;
    }

    dd {
      margin: 0;
    }
  }
}

html,
body {
  margin: 0;
  padding: 0;
}

.report-wrapper {
  --border-radius: 0.2em;
  --color-border: rgba(0, 0, 0, 0.1);
  --color-shadow: rgba(0, 0, 0, 0.1);
  --gap: 0.5rem;
  --padding: 0.35rem;

  font-family: 'AnekLatin', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 11pt;

  // Reset
  dl {
    display: block;
    margin: 0;
    padding: 0;
  }

  @media screen {
    padding: 1rem;
  }

  .report-container {
    position: relative;

    page-break-after: always;
    break-after: page;

    background-color: white;

    // 1. Status Stamp
    .stamp {
      position: absolute;

      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);

      font-size: 300%;
      opacity: 0.3;
      color: red;
    }

    // Main Header
    >header {
      display: flex;
      flex-direction: column;
      gap: var(--gap);

      border-bottom: 3px solid #000;
      padding-bottom: 1rem;
      margin-bottom: 1rem;

      .brand {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
      }

      h1 {
        margin: 0;
        font-size: 20pt;
      }

      section.parameters {
        display: flex;
        gap: var(--gap);
      }

      dl {
        @include dl-infobox;
      }
    }

    // 3. Main Body
    >main {
      .kpi-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        margin-bottom: 2rem;

        dl {
          border: $border;
          padding: 1rem;
          background: #fdfdfd;
          display: flex;
          justify-content: space-between;

          dt {
            font-size: 9pt;
            color: gray;
          }

          dd {
            margin: 0;
            font-size: 16pt;
            font-weight: bold;
          }

          .kpi-trend {
            font-size: 8pt;
            align-self: flex-end;
          }
        }
      }

      // Recursive Section Logic
      section {
        margin-top: 1.5rem;

        // Auto-indent nested sections
        section {
          // margin-left: 10px;
          // border-left: 1px solid #eee;
          padding-left: 1rem;
        }

        >header {
          font-weight: bold;
          // font-size: 12pt;
          border-bottom: $border;
          margin-bottom: 0.5rem;
        }

        .content {
          table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 0.5rem;

            th {
              text-align: left;
              background: #f8f9fa;
              padding: 8px;
              font-size: 9pt;
            }

            td {
              padding: 8px;
              border-bottom: 1px solid #f1f1f1;
            }

            tfoot td {
              font-weight: bold;
              border-top: 2px solid #333;
            }
          }
        }

        >footer {
          font-size: 9pt;
          font-style: italic;
          color: gray;
          padding-top: 5px;
        }
      }
    }

    // 4. Final Document Footer
    >footer {
      margin-top: 4rem;
      border-top: 2px solid #000;
      padding-top: 1rem;

      .signature-block {
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;
      }

      dl {
        @include dl-infobox;
      }
    }
  }

  // Global Helpers

  .flex {
    display: flex;

    &.h {
      flex-direction: row;
    }

    &.v {
      flex-direction: column;
    }

    &.align-center {
      // justify-content: space-between;
      align-items: center;
    }

    &.justify-center {
      justify-content: space-between;
    }

    &.gap {
      gap: 0.5rem;
    }

    .flex-1 {
      flex: 1;
    }
  }

  .text-right,
  .number {
    text-align: right !important;
  }

  .number {
    font-variant-numeric: tabular-nums;
  }

  .text-success {
    color: green;
  }

  .text-danger {
    color: red;
  }

  pre {
    font-family: 'AnekLatin', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;

    margin: 0;
  }
}